<section class="edit-channel-name-container">
  <div class="headline">
    <span>Channel-Name</span>
    <button (click)="description.toggleEditName()" *ngIf="userIsAdmin()">
      Bearbeiten
    </button>
    <div
      class="edit-icon-container"
      (click)="description.toggleEditName()"
      *ngIf="userIsAdmin()"
    >
      <mat-icon class="material-symbols-outlined edit-mobile">edit</mat-icon>
    </div>
  </div>
  <span class="channel-name-in-edit">
    <mat-icon class="material-symbols-outlined">tag</mat-icon>
    <p>{{ currentChannel?.channelName }}</p>
  </span>
</section>
