.edit-channel-name-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  border: 1px solid var(--light-purple-color);
  border-radius: 20px;
  min-height: 115px;

  span:first-of-type {
    font-size: 18px;
    font-weight: 700;
  }

  button {
    color: var(--purple3-color) !important;
    border: none;
    background-color: unset;
    font-size: 18px;
    font-weight: 400 !important;

    &:hover {
      cursor: pointer;
      font-weight: 600 !important;
      color: var(--purple1-color) !important;
    }
  }
}

.headline {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.edit-icon-container {
  width: 30px;
  height: 30px;
  background-color: var(--bg-color);
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  display: none;

  &:hover {
    cursor: pointer;

    mat-icon {
      color: var(--purple1-color);
    }
  }
}

.channel-name-in-edit {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-weight: 400 !important;

  mat-icon {
    margin-top: -3px;
    width: 32px;
    height: 32px;
    color: var(--black-color) !important;
  }

  p {
    max-width: 100%;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    max-height: 50px;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 500px) {
  .channel-name-in-edit {
    p {
      font-size: 16px !important;
      max-width: 80%;
    }
  }

  .headline button {
    display: none;
  }

  .edit-icon-container {
    display: flex;
  }
}
