<div class="dialog-wrapper">
  <div class="header-wrapper">
    <h3>Channel erstellen</h3>
    <mat-icon (click)="dialogRef.close()">close</mat-icon>
  </div>
  <mat-dialog-content>
    <mat-radio-group
      class="radio-group"
      [(ngModel)]="radioValue"
      (ngModelChange)="checkChoice()"
    >
      <mat-radio-button [value]="1"
        >Alle Mitglieder von
        <span class="channel-name">OfficeTeam</span>
        hinzufügen</mat-radio-button
      >
      <mat-radio-button [value]="2"
        >Bestimmte Leute hinzufügen</mat-radio-button
      >
    </mat-radio-group>

    <!-- ################ -->

    <app-add-users-to-channel
      *ngIf="radioValue === 2"
      [channelId]="channelId"
    ></app-add-users-to-channel>

    <!-- ################ -->
  </mat-dialog-content>
  <mat-dialog-actions [align]="'end'">
    <button
      [disabled]="invalid"
      class="button-primary"
      mat-button
      mat-dialog-close
      (click)="create()"
    >
      Erstellen
    </button>
  </mat-dialog-actions>
</div>
