<div class="added-emojis-container">
  <span
    *ngFor="let reaction of message.reactions"
    class="added-emoji"
    (mouseenter)="hoveredReaction = reaction"
    (mouseleave)="hoveredReaction = null"
  >
    <ngx-emoji [emoji]="reaction.emoji" [size]="16"></ngx-emoji>
    <span>{{ reaction.count }}</span>
    <div class="hover-line" [ngClass]="{ show: hoveredReaction === reaction }">
      <ngx-emoji [emoji]="reaction.emoji" [size]="30"></ngx-emoji>
      <div class="hover-line-users-container">
        <div *ngFor="let user of getUserList(reaction)">
          {{ user }}
        </div>
      </div>
      <span>
        {{
          getUserList(reaction).length === 1
            ? getUserList(reaction)[0] === "Du"
              ? "hast reagiert."
              : "hat reagiert."
            : "haben reagiert."
        }}
      </span>
    </div>
  </span>
  <mat-icon
    class="material-symbols-outlined add-reaction"
    [matMenuTriggerFor]="emojiMenu"
    >add_reaction</mat-icon
  >
  <mat-menu xPosition="after" #emojiMenu>
    <app-emoji-picker
      [message]="message"
      [component]="'channel'"
    ></app-emoji-picker>
  </mat-menu>
</div>
