<section>
  <div class="add-emoji-container-own">
    <div
      class="inner-add-emoji-container"
      (mouseover)="showEmojiContainer(message.messageId)"
      (mouseout)="hideEmojiContainer(message.messageId)"
      [ngClass]="{
        'inner-add-emoji-container-show':
          emojiContainerVisible[message.messageId] &&
          isDataLoaded &&
          messageService.editMessageId !== message.messageId
      }"
    >
      <div>
        <ngx-emoji
          emoji="white_check_mark"
          [size]="16"
          (emojiClick)="addReaction(message.messageId, $event.emoji)"
        ></ngx-emoji>
      </div>
      <div>
        <ngx-emoji
          emoji="raised_hands"
          [size]="16"
          (emojiClick)="addReaction(message.messageId, $event.emoji)"
        ></ngx-emoji>
      </div>
      <div
        [matMenuTriggerFor]="emojiMenu"
        (menuOpened)="onMenuOpened(message.messageId)"
        (menuClosed)="onMenuClosed(message.messageId)"
        (click)="toggleBorder('emoji')"
      >
        <mat-icon class="material-symbols-outlined" >add_reaction</mat-icon>
      </div>
      <div
        (click)="
          mainMessageArea.openSidenav(); threadService.setActualMessage(message)
        "
      >
        <mat-icon class="material-symbols-outlined">comment</mat-icon>
      </div>
      <div
        mat-button
        [matMenuTriggerFor]="editMessageMenu"
        (menuOpened)="onMenuOpened(message.messageId)"
        (menuClosed)="onMenuClosed(message.messageId)"
      >
        <mat-icon>more_vert</mat-icon>
        <mat-menu #editMessageMenu="matMenu">
          <span
            class="edit-message-text"
            (click)="
              messageService.setEditMessageId(message.messageId);
              toggleBorder('editMessage');
              setEditMessageMenuOpened(true, message.messageId)
            "
          >
            Nachricht bearbeiten
          </span>
        </mat-menu>
      </div>
    </div>
  </div>

  <div
    class="message-container-own"
    (mouseover)="showEmojiContainer(message.messageId)"
    (mouseout)="hideEmojiContainer(message.messageId)"
    [ngClass]="{
      'message-container-hover':
        emojiContainerVisible[message.messageId] &&
        isDataLoaded &&
        messageService.editMessageId !== message.messageId
    }"
  >
    <img
      src="{{ photoURL }}"
      alt="Profile Picture"
      (click)="userService.openProfileInfo(message.userId)"
    />
    <app-own-message-show
      [message]="message"
      *ngIf="messageService.editMessageId !== message.id"
    ></app-own-message-show>
    <app-own-message-edit
      [message]="message"
      *ngIf="messageService.editMessageId === message.id"
    ></app-own-message-edit>
  </div>

  <mat-menu
    xPosition="after"
    #emojiMenu
    (menuOpened)="showEmojiContainer(message.messageId)"
    (menuClosed)="hideEmojiContainer(message.messageId)"
  >
    <app-emoji-picker
      [message]="message"
      [component]="'channel'"
    ></app-emoji-picker>
  </mat-menu>
</section>
