::ng-deep {
  .leave-channel-menu {
    padding: 15px 20px;
    max-width: 400px !important;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;

    p {
      color: var(--black-color);
      padding-bottom: 20px;
    }
  }

  .leave-channel-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

section {
  color: black;
  font-family: var(--font-nunito);
  width: 480px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px;
}

h2 {
  gap: 15px;
  display: flex;
  align-items: center;
}

.headline {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;

    &:hover {
      cursor: pointer;
      color: var(--purple1-color);
      background-color: var(--bg-color);
    }
  }
}

app-channel-display-name,
app-channel-edit-name,
app-channel-display-description,
app-channel-edit-description {
  width: 100%;
}

.leave-channel-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    padding: 15px 20px;
    border: none;
    font-size: 18px;

    &:hover {
      cursor: pointer;
    }

    span {
      display: inline-block;
      transition: transform 0.2s ease;

      &:hover {
        transform: translate(0.5px, -1px);
      }
    }
  }
}
