.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  width: 45%;

  text-align: center;

  padding: 50px;

  background-color: var(--text-color);
  border-radius: 30px;

  box-shadow: 0px 2px 10px 0px #00000014;

  h1 {
    color: var(--purple1-color);
  }

  p {
    color: var(--black-color);
  }

  a {
    padding: 5px 15px;
    &:hover {
      background-color: var(--bg-color);
      border-radius: 100px;
      color: var(--purple1-color);
    }
  }

  .cutline {
    height: 1px;
    width: 100%;
    background-color: var(--light-purple-color);
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      background-color: var(--text-color);
      padding: var(--padding-16);
    }
  }

  .google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 100px;
    background-color: var(--bg-color);
    padding: var(--padding-16);
    gap: var(--gap-20);

    p {
      color: var(--purple1-color);
    }

    &:hover {
      font-weight: bold;
      box-shadow: 0 0 0 1px var(--purple1-color);
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--gap-30);
  }
}
