<section>
  <div class="textarea-container">
    <textarea placeholder="Nachricht an #Entwicklerteam" id=""></textarea>
    <div class="icons-container">
      <div class="left-icons">
        <mat-icon class="material-symbols-outlined">add</mat-icon>
        <div class="grey-line"></div>
        <mat-icon class="material-symbols-outlined">sentiment_satisfied</mat-icon>
        <mat-icon class="material-symbols-outlined">alternate_email</mat-icon>
      </div>
      <mat-icon>send</mat-icon>
    </div>
  </div>
</section>
