.edit-channel-name-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  min-height: 115px;
  padding: 5px;

  span:first-of-type {
    font-size: 18px;
    font-weight: 700;
  }

  button {
    color: var(--purple3-color) !important;
    border: none;
    background-color: unset;
    font-size: 18px;
    font-weight: 400 !important;

    &:hover {
      cursor: pointer;
      font-weight: 600 !important;
      color: var(--purple1-color) !important;
    }

    &:disabled {
      color: var(--grey-color) !important;
      pointer-events: none;
    }

    &:disabled:hover {
      font-weight: 400 !important;
    }
  }
}

.headline {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-icon-container {
  width: 30px;
  height: 30px;
  background-color: var(--bg-color);
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  display: none;

  &:hover {
    cursor: pointer;

    mat-icon {
      color: var(--purple1-color) !important;
    }
  }
}

.input-error {
  box-shadow: 0 0 0 1px var(--error-color) !important;
  &:focus-visible {
    outline: unset !important;
  }
}

.error-message {
  color: var(--error-color);
}

mat-icon {
  color: var(--black-color);
}

@media only screen and (max-width: 500px) {
  .headline button {
    display: none;
  }

  .edit-icon-container {
    display: flex;
  }
}
