<section>
  <mat-card appearance="outlined" class="mat-card-container">
    <mat-card-content>
      <app-message-area-header></app-message-area-header>
      <app-message-area-chat-history></app-message-area-chat-history>
      <app-message-area-new-message></app-message-area-new-message>
    </mat-card-content>
  </mat-card>
</section>
<mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    position="end"
  >
    <app-thread></app-thread>
  </mat-sidenav>

  <mat-sidenav-content>
   
  </mat-sidenav-content>
</mat-sidenav-container>
