.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.name-and-time-own {
  height: 25px;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  position: relative;
}

.name {
  font-weight: 700 !important;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;

  &:hover {
    cursor: pointer;
    color: var(--purple3-color);
  }
}

.time {
  color: var(--grey-color);
  font-size: 14px;
  align-self: center;
  min-width: 64px;
}

.message-own {
  border-radius: 30px 0px 30px 30px;
  background-color: var(--purple2-color);
  padding: 10px 20px;
  position: relative;
  display: flex;
  color: var(--text-color);
  width: fit-content;
  flex-direction: column;
  gap: 10px;

  > p {
    text-align: right;
    max-width: 100%;
    flex-wrap: wrap; /* Ermöglicht den Zeilenumbruch */
    word-wrap: break-word; /* Bricht lange Wörter */
    overflow-wrap: break-word; /* Zusätzlicher Schutz für Zeilenumbrüche */
    word-break: break-all;
    hyphens: auto;
  }
}

.attachment-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

app-attachment-preview {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .name-and-time-own {
    gap: 10px;
  }
}

@media screen and (max-width: 300px) {
  .message-own {
    padding: 10px 12px;
  }
}
