<section class="text-container">
  <div class="name-and-time-own">
    <span class="name" (click)="userService.openProfileInfo(message?.userId)">{{
      displayName
    }}</span>
    <span class="time">{{ message?.time | date : "HH:mm" }} Uhr</span>
  </div>
  <span class="message-own">
    <p>{{ message?.content }}</p>
    <div *ngIf="message?.attachmentUrls?.length > 0">
      <a
        *ngFor="let attachmentUrl of message.attachmentUrls"
        [href]="attachmentUrl"
        class="attachment-container"
      >
        <app-attachment-preview
        *ngIf="attachmentUrl && !isAttachmentRemoved(attachmentUrl)"
          [actualAttachmentUrls]="[attachmentUrl]"
          [message]="message"
          (attachmentRemoved)="onAttachmentRemoved($event)"
        >
        </app-attachment-preview>
      </a>
    </div>
  </span>
  <app-message-reactions
    [message]="message"
    [component]="'privateChat'"
    *ngIf="message.reactions.length > 0"
  ></app-message-reactions>
  <div class="thread-own" *ngIf="threadInfo.has(message?.messageId)">
    <span
      (click)="
        privateChat.openSidenav(); threadService.setActualMessage(message)
      "
    >
      {{ threadInfo.get(message?.messageId)?.count }}
      {{
        threadInfo.get(message?.messageId)?.count === 1
          ? "Antwort"
          : "Antworten"
      }}
    </span>
    <span>
      Letzte Antwort: {{ threadInfo.get(message?.messageId)?.lastReplyDate }}
    </span>
  </div>
</section>
