@media only screen and (max-width: 1350px) {
    .message-own {
        max-width: 48vw;
    }         
 }
 
 @media only screen and (max-width: 1100px) {
    .message-own {
        max-width: 43vw;
    }
 }

 @media only screen and (max-width: 1050px) {
    .message-own {
        max-width: 40vw;
    }
 }
 
 @media only screen and (max-width: 960px) {
    .message-own {
        max-width: 35vw;
    }
 }
