.card {
  padding: var(--padding-32);
  color: var(--black-color);
  gap: var(--gap-20);
  mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 30px;
  border-top-right-radius: 0;
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  position: absolute !important;
  top: 100px;
  right: 24px;
}

.profile-dialog-button {
  font-size: var(--fontsize-32);
  color: var(--black-color) !important;
  outline: none !important;
  padding: 12px 45px;
  border: none !important;
  box-shadow: none !important;

  &:hover {
    background-color: var(--bg-color) !important;
    color: var(--purple1-color) !important;
    cursor: pointer;
  }
}
