<mat-toolbar>
  <div class="channel-name">
    <button
      mat-button
      [matMenuTriggerFor]="chooseChannelMenu"
      class="button-channel-name"
      [class.menu-opened]="isMenuOpened === 'choose-channel'"
      (click)="isMenuOpened = 'choose-channel'; toggleBorder('choose-channel')"
      #chooseChannelMenuTrigger="matMenuTrigger"
    >
      <mat-icon class="material-symbols-outlined">tag</mat-icon>
      <span>{{ currentChannel?.channelName }}</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu
      #chooseChannelMenu="matMenu"
      xPosition="after"
      (closed)="isMenuOpened = ''; toggleBorder('')"
    >
      <app-channel-description></app-channel-description>
    </mat-menu>
  </div>

  <div class="channel-member">
    <button
      [class.menu-opened]="isMenuOpened === 'member-list'"
      (click)="isMenuOpened = 'member-list'; toggleBorder('member-list')"
      mat-button
      [matMenuTriggerFor]="memberListMenu"
      #memberListMenuTrigger="matMenuTrigger"
      class="button-channel-member-list"
    >
      <div *ngFor="let member of currentChannel?.members?.slice(0, 3)">
        <img [src]="getPhotoURL(member)" alt="Profile Picture" />
      </div>
      <span>{{ currentChannel?.members?.length || 0 }}</span>
    </button>
    <mat-menu
      #memberListMenu="matMenu"
      xPosition="before"
      (closed)="isMenuOpened = ''; toggleBorder('')"
      class="member-list-menu"
    >
      <app-channel-members-list></app-channel-members-list>
    </mat-menu>

    <button
      mat-button
      [matMenuTriggerFor]="addMemberMenu"
      #addMemberMenuTrigger="matMenuTrigger"
      class="button-channel-add-member normalButton"
      [class.menu-opened]="isMenuOpened === 'add-member'"
      (click)="isMenuOpened = 'add-member'; toggleBorder('add-member')"
    >
      <mat-icon class="material-symbols-outlined">person_add</mat-icon>
    </button>
    <button
      mat-button
      [matMenuTriggerFor]="memberListMenu"
      #memberListMenuTrigger="matMenuTrigger"
      class="button-channel-add-member responsiveButton"
      [class.menu-opened]="isMenuOpened === 'member-list'"
      (click)="isMenuOpened = 'member-list'; toggleBorder('member-list')"
    >
      <mat-icon class="material-symbols-outlined">person_add</mat-icon>
    </button>
    <mat-menu
      #addMemberMenu="matMenu"
      xPosition="after"
      (closed)="isMenuOpened = ''; toggleBorder('')"
    >
      <app-channel-new-member></app-channel-new-member>
    </mat-menu>
  </div>
</mat-toolbar>
