<section>
  <div
    class="image"
    *ngFor="let attachmentUrl of actualAttachmentUrls; let i = index"
  >
    <!-- Löschen-Button -->
    <mat-icon
      class="material-symbols-outlined close-icon"
      (click)="onDeleteClick(attachmentUrl, $event)"
      *ngIf="message?.userId === userService.userId || message === ''"
    >
      close
    </mat-icon>

    <!-- Bilddateien -->
    <img
      *ngIf="getFileType(attachmentUrl) === 'image'"
      [src]="sanitizer.bypassSecurityTrustResourceUrl(attachmentUrl)"
      alt="Attachment Image"
      (click)="openAttachment(attachmentUrl, $event)"
    />

    <!-- PDF-Dateien -->
    <img
      src="../../../../assets/icons/document_chat.png"
      alt="PDF"
      *ngIf="getFileType(attachmentUrl) === 'pdf'"
      (click)="openAttachment(attachmentUrl, $event)"
    />

    <!-- Word-Dokumente -->
    <img
      src="../../../../assets/icons/doc.png"
      alt="Word"
      *ngIf="getFileType(attachmentUrl) === 'doc'"
      (click)="openAttachment(attachmentUrl, $event)"
    />

    <!-- Text- oder CSV-Dateien -->
    <img
      src="../../../../assets/icons/text.png"
      alt="Text/CSV"
      *ngIf="getFileType(attachmentUrl) === 'text'"
      (click)="openAttachment(attachmentUrl, $event)"
    />

    <!-- Excel-Dateien -->
    <img
      src="../../../../assets/icons/excel.png"
      alt="Excel"
      *ngIf="getFileType(attachmentUrl) === 'excel'"
      (click)="openAttachment(attachmentUrl, $event)"
    />

    <!-- Fallback für unbekannte Formate -->
    <p *ngIf="getFileType(attachmentUrl) === 'unknown'">
      Dieses Dateiformat wird nicht unterstützt.
    </p>
  </div>
</section>
