<section (click)="$event.stopPropagation()">
  <div class="headline">
    <h2>Leute hinzufügen</h2>
    <mat-icon (click)="header.closeMenu('add-member')">close</mat-icon>
  </div>
  <div class="channel-name">
    <div>
      <mat-icon class="material-symbols-outlined">tag</mat-icon>
    </div>
    <span>{{ currentChannel?.channelName }}</span>
  </div>
  <div class="dialog-wrapper">
    <mat-dialog-content>
      <!-- ################ -->

      <app-add-users-to-channel
        [channelId]="channelId"
        (usersEmpty)="handleUsersEmpty($event)"
      ></app-add-users-to-channel>

      <!-- ################ -->
    </mat-dialog-content>
    <mat-dialog-actions [align]="'end'">
      <div class="button-container">
        <button
          [disabled]="invalid"
          class="button-primary"
          mat-button
          mat-dialog-close
          (click)="create()"
        >
          Hinzufügen
        </button>
      </div>
    </mat-dialog-actions>
  </div>
</section>
