/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .register mat-card {
    max-width: 75% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .register {
    justify-content: space-evenly !important;
  }

  .logo-container {
    position: fixed !important;
    top: 5vh !important;
    left: unset !important;

    display: flex;
    justify-content: center;
    align-items: center !important;
  }

  .register mat-card {
    max-width: unset !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Very small devices (landscape tablets, 450px and down) */
@media only screen and (max-width: 450px) {
}

/* smallest devices (300px and down) */
@media only screen and (max-width: 300px) {
}

/* animations */
