<div class="register">
  <div class="logo-container">
    <img src="assets/img/logo.webp" alt="" />
    <div class="logo-name">
      <span class="letter letter-1">D</span>
      <span class="letter letter-2">A</span>
      <span class="letter letter-3">B</span>
      <span class="letter letter-4">u</span>
      <span class="letter letter-5">b</span>
      <span class="letter letter-6">b</span>
      <span class="letter letter-7">l</span>
      <span class="letter letter-8">e</span>
    </div>
  </div>

  <mat-card (keydown.enter)="checkEmailExistsAndProceed()">
    <div class="headline">
      <mat-icon class="back-icon" (click)="navigateToLogin()"
        >arrow_back</mat-icon
      >

      <h1>Konto erstellen</h1>
    </div>

    <p>
      Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
      DABubble-Konto.
    </p>

    <!-- Name Eingabefeld -->
    <div class="input-primary">
      <mat-icon>person_outline</mat-icon>
      <input
        [formControl]="getDisplayNameControl"
        placeholder="Name und Nachname"
        [ngClass]="{
          'input-error':
            getDisplayNameControl.invalid && getDisplayNameControl.touched
        }"
      />
      <div *ngIf="getDisplayNameControl.touched" class="error-message">
        <ng-container
          *ngIf="getDisplayNameControl.hasError('required'); else fullNameCheck"
        >
          Name ist erforderlich
        </ng-container>
        <ng-template #fullNameCheck>
          <ng-container *ngIf="getDisplayNameControl.hasError('fullName')">
            Vor- und Nachname sind erforderlich
          </ng-container>
        </ng-template>
      </div>
    </div>

    <!-- E-Mail Eingabefeld -->
    <div class="input-primary">
      <mat-icon>mail_outline</mat-icon>
      <input
        [formControl]="getEmailControl"
        placeholder="beispielname&#64;email.com"
        [ngClass]="{
          'input-error': getEmailControl.invalid && getEmailControl.touched
        }"
      />
      <div
        *ngIf="getEmailControl.touched && getEmailControl.invalid"
        class="error-message"
      >
        <ng-container
          *ngIf="getEmailControl.hasError('required'); else emailInvalid"
        >
          E-Mail ist erforderlich
        </ng-container>
        <ng-template #emailInvalid>
          <span>Ungültige E-Mail-Adresse</span>
        </ng-template>
      </div>
    </div>

    <!-- Passwort Eingabefeld -->
    <div class="input-primary">
      <mat-icon>lock_outline</mat-icon>
      <input
        [formControl]="getPasswordControl"
        placeholder="Passwort"
        type="password"
        [ngClass]="{
          'input-error':
            getPasswordControl.invalid && getPasswordControl.touched
        }"
      />
      <!-- <div *ngIf="passwordControl.touched" class="error-message">
        <ng-container
          *ngIf="passwordControl.hasError('required'); else minlengthCheck"
        >
          Passwort ist erforderlich
        </ng-container>
        <ng-template #minlengthCheck>
          <ng-container
            *ngIf="passwordControl.hasError('minlength'); else uppercaseCheck"
          >
            Mindestens 8 Zeichen
          </ng-container>
        </ng-template>
        <ng-template #uppercaseCheck>
          <ng-container *ngIf="!passwordHasUppercase; else lowercaseCheck">
            Mindestens 1 Großbuchstabe
          </ng-container>
        </ng-template>
        <ng-template #lowercaseCheck>
          <ng-container *ngIf="!passwordHasLowercase; else numberCheck">
            Mindestens 1 Kleinbuchstabe
          </ng-container>
        </ng-template>
        <ng-template #numberCheck>
          <ng-container *ngIf="!passwordHasNumber; else specialCharCheck">
            Mindestens 1 Zahl
          </ng-container>
        </ng-template>
        <ng-template #specialCharCheck>
          <ng-container *ngIf="passwordControl.hasError('pattern')">
            Passwort muss Groß- und Kleinbuchstaben, eine Zahl und ein
            Sonderzeichen (&#64;$!%*?&_-) enthalten.
          </ng-container>
        </ng-template>
      </div> -->
      <div *ngIf="getPasswordControl.value" class="password-requirements">
        <p *ngIf="!passwordHasMinLength">Mindestens 8 Zeichen</p>
        <p *ngIf="passwordHasMinLength && !passwordHasUppercase">
          Mindestens 1 Großbuchstabe
        </p>
        <p
          *ngIf="
            passwordHasMinLength &&
            passwordHasUppercase &&
            !passwordHasLowercase
          "
        >
          Mindestens 1 Kleinbuchstabe
        </p>
        <p
          *ngIf="
            passwordHasMinLength &&
            passwordHasUppercase &&
            passwordHasLowercase &&
            !passwordHasNumber
          "
        >
          Mindestens 1 Zahl
        </p>
        <p
          *ngIf="
            passwordHasMinLength &&
            passwordHasUppercase &&
            passwordHasLowercase &&
            passwordHasNumber &&
            !passwordHasSpecialChar
          "
        >
          Mindestens 1 Sonderzeichen (&#64;$!%*?&_-)
        </p>
      </div>
    </div>

    <!-- Passwort Wiederholen Eingabefeld -->
    <div class="input-primary">
      <input
        [formControl]="getConfirmPasswordControl"
        placeholder="Passwort Wiederholen"
        type="password"
        [ngClass]="{
          'input-error':
            getConfirmPasswordControl.invalid &&
            getConfirmPasswordControl.touched
        }"
      />
      <div *ngIf="getConfirmPasswordControl.touched" class="error-message">
        <ng-container
          *ngIf="getPasswordControl.value !== getConfirmPasswordControl.value"
        >
          Passwörter stimmen nicht überein
        </ng-container>
      </div>
    </div>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <div class="checkbox-wrapper-33">
      <label class="checkbox">
        <input
          class="checkbox__trigger visuallyhidden"
          type="checkbox"
          [formControl]="getAcceptTermsControl"
        />
        <span class="checkbox__symbol">
          <svg
            aria-hidden="true"
            class="icon-checkbox"
            width="28px"
            height="28px"
            viewBox="0 0 28 28"
            version="1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M4 14l8 7L24 7"></path>
          </svg>
        </span>
        <p class="checkbox__textwrapper">
          Ich stimme der
          <a href="#" class="link" (click)="navigateToPrivacyPolicy()"
            >Datenschutzerklärung</a
          >
          zu.
        </p>
      </label>
      <div
        *ngIf="getAcceptTermsControl.invalid && getAcceptTermsControl.touched"
        class="error-message"
      >
        Die Zustimmung zur Datenschutzerklärung ist erforderlich.
      </div>
    </div>

    <div class="next-button">
      <button
        mat-flat-button
        class="button-primary"
        [disabled]="
          !registerForm.valid ||
          getPasswordControl.value !== getConfirmPasswordControl.value
        "
        (click)="checkEmailExistsAndProceed()"
      >
        Weiter
      </button>
    </div>
  </mat-card>

  <div class="info-links">
    <a class="link" (click)="navigateToImprint()">Impressum</a>
    <a class="link" (click)="navigateToPrivacyPolicy()">Datenschutz</a>
  </div>
</div>
