<section (click)="$event.stopPropagation()">
    <h3>Anhang hinzufügen</h3>
    <div class="choose-file" (click)="openFileDialog('document')"><img src="../../../../assets/icons/document.webp" alt="">Dokument</div>
    <div class="choose-file" (click)="openFileDialog('image')"><img src="../../../../assets/icons/image.webp" alt="">Bild</div>
    
    <!-- Drag-and-Drop-Feld -->
    <div
      class="drag-drop-area"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
    >
      Datei hier ablegen oder auf Dokument/Bild klicken
    </div>
  </section>
  
  