.landing-page {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  .logo {
    position: absolute;
    top: 75px;
    left: 75px;
    display: flex;
    align-items: center;
    gap: var(--gap-16);

    img:first-child {
      height: 70px;
    }

    img:last-child {
      height: 24px;
    }
  }

  .register,
  .info-links {
    position: absolute;
    display: flex;
    gap: var(--gap-16);

    a {
      cursor: pointer;
      text-align: center;
      width: fit-content;
      padding: 10px 15px;

      transition: var(--transition-100);

      &:hover {
        color: var(--purple1-color);
        font-weight: 500;
        box-shadow: 0 0 0 1px var(--light-purple-color);
        border-radius: 100px;
      }
    }
  }

  .register {
    top: 75px;
    right: 75px;
    flex-direction: column;
    text-align: end;
    align-items: end;

    p {
      color: var(--black-color);
    }
  }

  .info-links {
    bottom: 2.5vh;
    width: 100%;

    justify-content: center;
  }
}

app-login-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
