<section>
  <div class="members-container" *ngIf="mentionTag === '@'">
    <div
      class="member"
      *ngFor="let user of mentionableUsers"
      (click)="selectUser(user.userName)"
    >
      <img *ngIf="user.photoURL" [src]="user.photoURL" alt="Profile Picture" />
      <span>{{ user.userName }}</span>
    </div>
  </div>
  <div *ngIf="mentionableUsers.length === 0" class="placeholder">
    <p>Keine weiteren Benutzer gefunden</p>
  </div>
  <div *ngIf="mentionTag === '#'">
    <div
      class="member"
      *ngFor="let channel of mentionableChannels | keyvalue"
      (click)="selectUser(channel.value.channelName)"
    >
      <span>{{ channel.value.channelName }}</span>
    </div>

    <div *ngIf="mentionableUsers.length === 0" class="placeholder">
      <p>Keine weiteren Benutzer gefunden</p>
    </div>
  </div>
</section>
