@media only screen and (max-width: 1250px) {
  .select-avatar mat-card {
    max-width: 75% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1150px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .headline {
    h1 {
      text-wrap: unset !important;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .select-avatar {
    justify-content: space-evenly !important;
    mat-card {
      max-width: 95% !important;
    }
  }

  .logo-container {
    position: fixed !important;
    top: 5vh !important;
    left: unset !important;

    display: flex;
    justify-content: center;
    align-items: center !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .avatar-placeholder {
    width: 120px !important;
    height: 120px !important;

    mat-icon {
      width: 60px !important;
      height: 60px !important;
      font-size: 80px !important;
    }
  }
}

/* Very small devices (landscape tablets, 450px and down) */
@media only screen and (max-width: 450px) {
  .select-avatar-list {
    gap: 8px !important;
  }

  .avatars {
    img {
      width: 48px !important;
      height: 48px !important;
    }
  }

  .upload-avatar {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 8px !important;
    margin: 8px 0 !important;
  }
}

/* smallest devices (300px and down) */
@media only screen and (max-width: 300px) {
}

/* animations */
