<app-header *ngIf="userData" [userData]="userData"></app-header>

<div class="sidenav-button-container">
  <button
    (click)="drawer.toggle(); sideNavOpened = !sideNavOpened; setNavBehavior()"
  >
    <p>Workspace-Menü {{ sideNavOpened ? "schließen" : "öffnen" }}</p>
    <mat-icon fontSet="material-symbols-outlined"
      >left_panel_{{ sideNavOpened ? "close" : "open" }}</mat-icon
    >
  </button>
</div>
<mat-drawer-container
  class="example-container"
  (backdropClick)="closeSideNavOnMobile()"
  autosize
>
  <mat-drawer
    #drawer
    class="example-sidenav"
    [mode]="drawerMode"
    [opened]="sideNavOpened"
    autoFocus="false"
  >
    <app-side-nav
      *ngIf="userData"
      [userData]="userData"
      [allChannelsData]="allChannelsData"
      [drawerMode]="drawerMode"
    ></app-side-nav>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
