<mat-card class="profile-info-dialog" appearance="outlined">
  <div class="card-header">
    <h3>Dein profil bearbeiten</h3>
    <mat-icon class="icon" (click)="closeDialog()">close</mat-icon>
  </div>
  <img
    class="profile-image"
    src="{{ user.photoURL }}"
    alt=""
    matTooltip="Ändere dein Profilbild"
    (click)="openEditAvatar()"
  />
  <div class="profile-info-name">
    <div class="name-edit">
      <div class="wrapper">
        <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
        <h3>Vollständiger Name</h3>
      </div>

      <ng-container
        *ngIf="
          nameControl.disabled && nameControl.value === '';
          else saveNameChanges
        "
      >
        <span (click)="nameControl.enable()">Bearbeiten</span>

        <mat-icon
          class="material-symbols-outlined edit-mobile icon"
          (click)="nameControl.enable()"
          >edit</mat-icon
        >
      </ng-container>

      <ng-template #saveNameChanges>
        <span (click)="saveNewName()">Speichern</span>
        <mat-icon
          class="material-symbols-outlined edit-mobile icon"
          (click)="saveNewName()"
          >save</mat-icon
        >
      </ng-template>
    </div>
    <div class="input-secondary">
      <input
        #nameInput
        type="text"
        [formControl]="nameControl"
        placeholder="{{ user.displayName }}"
        [ngClass]="{
          'input-error': nameControl.invalid
        }"
        (keypress)="blockNumbers($event)"
        (keydown.enter)="saveNewName()"
        [ngStyle]="nameControl.enable"
      />
      <div *ngIf="nameControl.invalid" class="error-message">
        <ng-container *ngIf="nameControl.hasError('fullName')">
          Vor- und Nachname(n) sind erforderlich
        </ng-container>
      </div>
    </div>
  </div>
  <div class="profile-info-name">
    <div class="name-edit">
      <div class="wrapper">
        <mat-icon>mail_outline</mat-icon>
        <h3>E-Mail-Adresse</h3>
      </div>
      <span
        *ngIf="
          emailControl.disabled && emailControl.value === '';
          else saveEmailChanges
        "
        (click)="
          isGoogleUser ? '' : emailControl.enable(); passwordControl.enable()
        "
        [matTooltip]="
          isGoogleUser
            ? 'Google Benutzer können ihre E-Mail-Adresse nicht ändern'
            : ''
        "
        [matTooltipDisabled]="!isGoogleUser"
        [ngStyle]="{ cursor: isGoogleUser ? 'not-allowed' : 'pointer' }"
        >Bearbeiten</span
      >

      <mat-icon
        *ngIf="
          emailControl.disabled && emailControl.value === '';
          else saveEmailChanges
        "
        (click)="
          isGoogleUser ? '' : emailControl.enable(); passwordControl.enable()
        "
        [matTooltip]="
          isGoogleUser
            ? 'Google Benutzer können ihre E-Mail-Adresse nicht ändern'
            : ''
        "
        [matTooltipDisabled]="!isGoogleUser"
        [ngStyle]="{ cursor: isGoogleUser ? 'not-allowed' : 'pointer' }"
        class="material-symbols-outlined edit-mobile icon"
        >edit</mat-icon
      >
      <ng-template #saveEmailChanges>
        <span (click)="saveNewEmail()">Speichern</span>
        <mat-icon
          class="material-symbols-outlined edit-mobile icon"
          (click)="saveNewEmail()"
          >save</mat-icon
        >
      </ng-template>
    </div>
    <div class="input-secondary">
      <input
        #emailInput
        type="text"
        [formControl]="emailControl"
        placeholder="{{ user.email }}"
        [ngClass]="{
          'input-error': emailControl.invalid
        }"
      />
      <div *ngIf="emailControl.invalid" class="error-message">
        <ng-container> Ungültige E-Mail-Adresse </ng-container>
      </div>
      <input
        #passwordInput
        type="password"
        [formControl]="passwordControl"
        placeholder="Bestätige dein Passwort"
        [required]="!emailControl.invalid && editUserForm.value.email !== ''"
        [ngClass]="{
          'input-error': passwordControl.invalid && passwordControl.touched
        }"
        (keydown.enter)="saveNewEmail()"
      />
      <div
        *ngIf="errorMessage && passwordControl.value !== ''"
        class="error-message"
      >
        {{ errorMessage }}
      </div>
      <div
        *ngIf="
          passwordControl.touched &&
          emailControl.value !== '' &&
          !emailControl.invalid
        "
        class="error-message"
      >
        <ng-container *ngIf="passwordControl.hasError('required')">
          Passwort ist erforderlich
        </ng-container>
      </div>
    </div>
  </div>
</mat-card>
