<div class="reset-password">
  <mat-card>
    <div class="headline">
      <mat-icon class="back-icon" [routerLink]="['/']">arrow_back</mat-icon>

      <h1>Passwort zurücksetzen</h1>
    </div>

    <div class="input-primary">
      <input placeholder="Neues Passwort" />
    </div>

    <div class="input-primary">
      <input placeholder="Neues Passwort Wiederholen" />
    </div>

    <div class="next-button">
      <button mat-flat-button class="button-primary" disabled>
        Passwort ändern
      </button>
    </div>
  </mat-card>

  <div class="logo">
    <img src="assets/img/logo.webp" alt="" />
    <img src="assets/img/logo_name.webp" alt="" />
  </div>

  <div class="info-links">
    <a class="link" [routerLink]="['/impressum']">Impressum</a>
    <a class="link" [routerLink]="['/datenschutz']">Datenschutz</a>
  </div>
</div>
