<div class="reset-password">
  <div class="logo-container">
    <img src="assets/img/logo.webp" alt="" />
    <div class="logo-name">
      <span class="letter letter-1">D</span>
      <span class="letter letter-2">A</span>
      <span class="letter letter-3">B</span>
      <span class="letter letter-4">u</span>
      <span class="letter letter-5">b</span>
      <span class="letter letter-6">b</span>
      <span class="letter letter-7">l</span>
      <span class="letter letter-8">e</span>
    </div>
  </div>

  <mat-card (keydown.enter)="changePassword()">
    <div class="headline">
      <mat-icon class="back-icon" (click)="navigateToLogin()"
        >arrow_back</mat-icon
      >

      <h1>Passwort zurücksetzen</h1>
    </div>

    <div class="input-primary">
      <input
        [formControl]="newPasswordControl"
        placeholder="Neues Passwort"
        type="password"
        [ngClass]="{
          'input-error':
            newPasswordControl.invalid && newPasswordControl.touched
        }"
      />
      <div *ngIf="newPasswordControl.touched" class="error-message">
        <ng-container
          *ngIf="newPasswordControl.hasError('required'); else minlengthCheck"
        >
          Passwort ist erforderlich
        </ng-container>
        <ng-template #minlengthCheck>
          <ng-container
            *ngIf="
              newPasswordControl.hasError('minlength');
              else uppercaseCheck
            "
          >
            Mindestens 8 Zeichen
          </ng-container>
        </ng-template>
        <ng-template #uppercaseCheck>
          <ng-container *ngIf="!passwordHasUppercase; else lowercaseCheck">
            Mindestens 1 Großbuchstabe
          </ng-container>
        </ng-template>
        <ng-template #lowercaseCheck>
          <ng-container *ngIf="!passwordHasLowercase; else numberCheck">
            Mindestens 1 Kleinbuchstabe
          </ng-container>
        </ng-template>
        <ng-template #numberCheck>
          <ng-container *ngIf="!passwordHasNumber; else specialCharCheck">
            Mindestens 1 Zahl
          </ng-container>
        </ng-template>
        <ng-template #specialCharCheck>
          <ng-container *ngIf="!passwordHasSpecialChar">
            Mindestens 1 Sonderzeichen
          </ng-container>
        </ng-template>
      </div>
    </div>

    <div class="input-primary">
      <input
        [formControl]="confirmPasswordControl"
        placeholder="Neues Passwort Wiederholen"
        type="password"
        [ngClass]="{
          'input-error':
            confirmPasswordControl.invalid && confirmPasswordControl.touched
        }"
      />
      <div *ngIf="confirmPasswordControl.touched" class="error-message">
        <span *ngIf="newPasswordControl.value !== confirmPasswordControl.value">
          Passwörter stimmen nicht überein
        </span>
      </div>
    </div>

    <div class="next-button">
      <button
        mat-flat-button
        class="button-primary"
        (click)="changePassword()"
        [disabled]="
          !newPasswordForm.valid ||
          newPasswordControl.value !== confirmPasswordControl.value
        "
      >
        Passwort ändern
      </button>
    </div>
  </mat-card>

  <div class="info-links">
    <a class="link" (click)="navigateToImprint()">Impressum</a>
    <a class="link" (click)="navigateToPrivacyPolicy()">Datenschutz</a>
  </div>
</div>
