<div class="reset-password">
  <mat-card>
    <div class="headline">
      <mat-icon class="back-icon" [routerLink]="['/']">arrow_back</mat-icon>

      <h1>Passwort zurücksetzen</h1>
    </div>

    <div class="input-primary">
      <input placeholder="Neues Passwort" />
    </div>

    <div class="input-primary">
      <input placeholder="Neues Passwort Wiederholen" />
    </div>

    <div class="next-button">
      <button mat-flat-button class="button-primary" disabled>
        Passwort ändern
      </button>
    </div>
  </mat-card>

  <div class="logo-container">
    <img src="assets/img/logo.webp" alt="" />
    <div class="logo-name">
      <span class="letter letter-1">D</span>
      <span class="letter letter-2">A</span>
      <span class="letter letter-3">B</span>
      <span class="letter letter-4">u</span>
      <span class="letter letter-5">b</span>
      <span class="letter letter-6">b</span>
      <span class="letter letter-7">l</span>
      <span class="letter letter-8">e</span>
    </div>
  </div>

  <div class="info-links">
    <a class="link" [routerLink]="['/impressum']">Impressum</a>
    <a class="link" [routerLink]="['/datenschutz']">Datenschutz</a>
  </div>
</div>
