<mat-card>
  <mat-card-header>
    <mat-card-title>Verifiziere deine neue E-Mail-Adresse</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Eine Bestätigungs-E-Mail wurde an
      <span class="email">{{ email }}</span> gesendet. <br />
      <br />
      Die Änderungen werden erst aktiv, wenn die E-Mail bestätigt wurde und du
      dich neu einloggst.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button class="button-secondary" (click)="dialogRef.close()">
      Abbrechen
    </button>
    <button class="button-primary" (click)="logOut()">Jetzt ausloggen</button>
  </mat-card-actions>
</mat-card>
