mat-card {
  color: var(--black-color);
  padding: 45px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 500px;

  .email {
    font-weight: 700;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
}
