<div class="reset-password">
  <div class="logo-container">
    <img src="assets/img/logo.webp" alt="" />
    <div class="logo-name">
      <span class="letter letter-1">D</span>
      <span class="letter letter-2">A</span>
      <span class="letter letter-3">B</span>
      <span class="letter letter-4">u</span>
      <span class="letter letter-5">b</span>
      <span class="letter letter-6">b</span>
      <span class="letter letter-7">l</span>
      <span class="letter letter-8">e</span>
    </div>
  </div>

  <mat-card (keydown.enter)="sendPasswordResetEmail()">
    <div class="headline">
      <mat-icon class="back-icon" (click)="goBack()">arrow_back</mat-icon>

      <h1>Passwort zurücksetzen</h1>
    </div>

    <p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>

    <div class="input-primary">
      <input
        [formControl]="email"
        placeholder="beispielname&#64;email.com"
        [ngClass]="{ 'input-error': email.invalid && email.touched }"
      />
      <mat-icon>mail_outline</mat-icon>

      <div *ngIf="email.touched && email.invalid" class="error-message">
        <ng-container *ngIf="email.hasError('required'); else emailInvalid">
          E-Mail ist erforderlich.
        </ng-container>
        <ng-template #emailInvalid> Ungültige E-Mail-Adresse. </ng-template>
      </div>
    </div>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <p>
      Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
    </p>

    <div class="next-button">
      <button
        mat-flat-button
        class="button-primary"
        (click)="sendPasswordResetEmail()"
        [disabled]="email.invalid"
      >
        E-Mail senden
      </button>
    </div>
  </mat-card>

  <div class="info-links">
    <a class="link" (click)="navigateToImprint()">Impressum</a>
    <a class="link" (click)="navigateToPrivacyPolicy()">Datenschutz</a>
  </div>
</div>
