.landing-page {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);

  .logo {
    position: absolute;
    top: 75px;
    left: 75px;
    display: flex;
    align-items: center;
    gap: var(--gap-16);

    img:first-child {
      height: 70px;
    }

    img:last-child {
      height: 24px;
    }
  }

  .register {
    position: absolute;
    top: 75px;
    right: 75px;
    display: flex;
    flex-direction: column;
    text-align: end;

    gap: var(--gap-20);
  }

  .info-links {
    position: absolute;
    bottom: 58px;
    width: 100%;

    display: flex;
    justify-content: center;
    gap: var(--gap-20);
  }
}

app-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
