<section>
  <div class="add-emoji-container-own">
    <div
      class="inner-add-emoji-container"
      (mouseover)="showEmojiContainer(2)"
      (mouseout)="hideEmojiContainer()"
      [ngClass]="{
        'inner-add-emoji-container-show': isEmojiContainerVisible === 2
      }"
      id="add-emoji-container1"
    >
      <div>
        <ngx-emoji
          emoji="white_check_mark"
          [size]="16"
          (emojiClick)="addReaction(message.messageId, $event.emoji)"
        ></ngx-emoji>
      </div>
      <div>
        <ngx-emoji
          emoji="raised_hands"
          [size]="16"
          (emojiClick)="addReaction(message.messageId, $event.emoji)"
        ></ngx-emoji>
      </div>
    </div>
  </div>

  <div
    class="message-container-own"
    (mouseover)="showEmojiContainer(2)"
    (mouseout)="hideEmojiContainer()"
    [ngClass]="{
      'message-container-hover': isEmojiContainerVisible === 2
    }"
  >
    <img src="{{ message?.user?.photoURL }}" alt="Profile Picture" />
    <div class="text-container">
      <div class="name-and-time-own">
        <span class="name">{{ message?.user?.userName }}</span>
        <span class="time">{{ message?.time | date : "HH:mm" }} Uhr</span>
      </div>
      <span class="message-own">{{ message?.content }}</span>
      <div class="emoji-container d-none"></div>
    </div>
  </div>
</section>
