<section>
  <div class="add-emoji-container-own">
    <div
      class="inner-add-emoji-container"
      (mouseover)="showEmojiContainer(2)"
      (mouseout)="hideEmojiContainer()"
      [ngClass]="{
        'inner-add-emoji-container-show': isEmojiContainerVisible === 2
      }"
      id="add-emoji-container1"
    >
      <div>
        <ngx-emoji
          emoji="white_check_mark"
          [size]="16"
          (emojiClick)="addReaction(message.messageId, $event.emoji)"
        ></ngx-emoji>
      </div>
      <div>
        <ngx-emoji
          emoji="raised_hands"
          [size]="16"
          (emojiClick)="addReaction(message.messageId, $event.emoji)"
        ></ngx-emoji>
      </div>
      <div [matMenuTriggerFor]="emojiMenu">
        <mat-icon class="material-symbols-outlined">add_reaction</mat-icon>
      </div>
      <div
        (click)="
          privateChatService.setActualMessage(message.messageId);
          setEditMessageMenuOpened(true);
          showEmojiContainer(2)
        "
        mat-button
        [matMenuTriggerFor]="editMessageMenu"
        #chooseChannelMenuTrigger="matMenuTrigger"
        (click)="toggleBorder('editMessage')"
      >
        <mat-icon>more_vert</mat-icon>
        <mat-menu
          #editMessageMenu="matMenu"
          xPosition="after"
          (closed)="setEditMessageMenuOpened(false); hideEmojiContainer()"
        >
          <span
            class="edit-message-text"
            (click)="messageService.setEditMessageId(message.messageId)"
            >Nachricht bearbeiten</span
          >
        </mat-menu>
      </div>
    </div>
  </div>

  <div
    class="message-container-own"
    (mouseover)="showEmojiContainer(2)"
    (mouseout)="hideEmojiContainer()"
    [ngClass]="{
      'message-container-hover': isEmojiContainerVisible === 2
    }"
  >
    <img
      src="{{ photoURL }}"
      alt="Profile Picture"
      (click)="userService.openProfileInfo(message?.userId)"
    />
    <app-own-private-message-show
      [message]="message"
      [displayName]="displayName"
      *ngIf="messageService.editMessageId !== message.messageId"
    ></app-own-private-message-show>
    <app-own-private-message-edit
      [message]="message"
      [displayName]="displayName"
      *ngIf="messageService.editMessageId === message.messageId"
    ></app-own-private-message-edit>
  </div>

  <mat-menu xPosition="after" #emojiMenu>
    <app-emoji-picker [message]="message" [component]="'privateChat'"></app-emoji-picker>
  </mat-menu>
</section>
