<div class="login">
  <mat-card>
    <h1>Anmeldung</h1>

    <p>
      Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
      verwendest.
    </p>

    <div class="input-primary">
      <input placeholder="beispielname&#64;email.com" />
      <mat-icon>mail_outline</mat-icon>
    </div>

    <div class="input-primary">
      <input placeholder="Passwort" />
      <mat-icon>lock_outline</mat-icon>
    </div>

    <a class="link" [routerLink]="['/reset-password']">Passwort vergessen?</a>

    <div class="cutline">
      <p>ODER</p>
    </div>

    <div class="google">
      <img src="assets/img/google.webp" alt="" />
      <p>Anmelden mit Google</p>
    </div>

    <div class="buttons">
      <button mat-flat-button class="button-primary" [routerLink]="['/main']">
        Anmelden
      </button>
      <button mat-flat-button class="button-secondary" [routerLink]="['/main']">
        Gäste-Login
      </button>
    </div>
  </mat-card>

  <div class="logo-bg"></div>
  <div class="logo">
    <div class="logo-container">
      <img src="assets/img/logo.webp" alt="" />
      <div class="logo-name">
        <span class="letter letter-1">D</span>
        <span class="letter letter-2">A</span>
        <span class="letter letter-3">B</span>
        <span class="letter letter-4">u</span>
        <span class="letter letter-5">b</span>
        <span class="letter letter-6">b</span>
        <span class="letter letter-7">l</span>
        <span class="letter letter-8">e</span>
      </div>
    </div>
  </div>

  <div class="register-link">
    <p>Neu bei DABubble?</p>
    <a class="link" [routerLink]="['/register']">Konto erstellen</a>
  </div>

  <div class="info-links">
    <a class="link" [routerLink]="['/impressum']">Impressum</a>
    <a class="link" [routerLink]="['/datenschutz']">Datenschutz</a>
  </div>
</div>
