/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .login mat-card {
    max-width: 75% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .login {
    justify-content: space-evenly !important;
  }

  .logo {
    .logo-container {
      top: unset !important;
      gap: unset !important;
      animation: logo-top-768 0.5s ease-in-out 3s 1 forwards !important;

      img:first-child {
        height: clamp(56px, 10vw, 100px) !important;
        animation: logo-left-768 0.3s ease-in-out 0.5s 1 forwards !important;
      }

      .logo-name {
        font-size: clamp(1.5em, 5vw, 2.5em) !important;
        margin-left: 32px;
        animation: margin-left 0.5s ease-in-out 3s 1 forwards !important;
      }
    }
  }

  .logo-final {
    position: fixed !important;
    top: 5vh !important;
    left: unset !important;

    display: flex;
  }

  .register-link {
    position: unset !important;

    align-items: center !important;
    gap: unset !important;
  }

  .login mat-card {
    max-width: unset !important;
    margin-top: 10vh !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Very small devices (landscape tablets, 450px and down) */
@media only screen and (max-width: 450px) {
}

/* smallest devices (300px and down) */
@media only screen and (max-width: 300px) {
}

/* animations */
/* -- 768 -- */
@keyframes logo-top-768 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-50vh + 50% + 5vh));
  }
}

@keyframes logo-left-768 {
  0% {
    left: 50%;

    transform: translateX(-50%);
  }
  100% {
    left: 0%;

    transform: translateX(0);
  }
}

@keyframes margin-left {
  0% {
    margin-left: 32px;
  }
  100% {
    margin-left: 16px;
  }
}
