<div class="login">
  <!-- Logo-Animation nur beim ersten Laden -->
  <div class="logo-bg" *ngIf="showAnimation"></div>
  <div [ngClass]="{ logo: showAnimation, 'logo-final': !showAnimation }">
    <div class="logo-container">
      <img src="assets/img/logo.webp" alt="" />
      <div class="logo-name">
        <span class="letter letter-1">D</span>
        <span class="letter letter-2">A</span>
        <span class="letter letter-3">B</span>
        <span class="letter letter-4">u</span>
        <span class="letter letter-5">b</span>
        <span class="letter letter-6">b</span>
        <span class="letter letter-7">l</span>
        <span class="letter letter-8">e</span>
      </div>
    </div>
  </div>

  <mat-card (keydown.enter)="login()">
    <h1>Anmeldung</h1>

    <p>
      Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
      verwendest.
    </p>

    <div class="input-primary">
      <input [formControl]="email" placeholder="beispielname&#64;email.com" />
      <mat-icon>mail_outline</mat-icon>
    </div>

    <div class="input-primary">
      <input [formControl]="password" type="password" placeholder="Passwort" />
      <mat-icon>lock_outline</mat-icon>
    </div>

    <a class="link" (click)="navigateToResetPassword()">Passwort vergessen?</a>

    <!-- Fehlermeldungen anzeigen -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div class="cutline">
      <p>ODER</p>
    </div>

    <div class="google" (click)="googleLogin()">
      <img src="assets/img/google.webp" alt="" />
      <p>Anmelden mit Google</p>
    </div>

    <div class="buttons">
      <button mat-flat-button class="button-primary" (click)="login()">
        Anmelden
      </button>
      <button mat-flat-button class="button-secondary" (click)="guestLogin()">
        Gäste-Login
      </button>
    </div>
  </mat-card>

  <div class="register-link">
    <p>Neu bei DABubble?</p>
    <a class="link" (click)="navigateToRegister()">Konto erstellen</a>
  </div>

  <div class="info-links">
    <a class="link" (click)="navigateToImprint()">Impressum</a>
    <a class="link" (click)="navigateToPrivacyPolicy()">Datenschutz</a>
  </div>
</div>
