<header>
  <div class="logo">
    <img src="assets/img/logo.webp" alt="" />
    <img src="assets/img/logo_name.webp" alt="" />
  </div>
  <div class="search-field">
    <input placeholder="Devspace durchsuchen" />
    <mat-icon>search</mat-icon>
  </div>
  <div class="profile" (click)="toggleDropdown()">
    <p>Frederik Beck</p>
    <div class="image-with-badge">
      <img src="./assets/img/profile/frederik.webp" alt="" />
      <div class="badge"></div>
    </div>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
</header>
