<header>
  <div class="logo-search-wrapper">
    <div class="logo">
      <img src="assets/img/logo.webp" alt="" />
      <img src="assets/img/logo_name.webp" alt="" />
    </div>
    <app-search-bar
      [placeholder]="'Devspace durchsuchen'"
      [searchIconExists]="true"
      [inputFont]="true"
    ></app-search-bar>
  </div>
  <div class="profile" (click)="toggleDropdown()">
    <p *ngIf="userData">{{ userData.displayName }}</p>
    <div class="image-with-badge">
      <img
        *ngIf="userData"
        src="{{ userData.photoURL }}"
        alt=""
        matTooltip="{{ userData.displayName }}"
      />
      <div class="badge"></div>
    </div>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
</header>
