:host {
  --parent-fontsize: 24px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  margin-bottom: 20px;
  gap: var(--gap-20);

  .logo-search-wrapper {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;
      gap: var(--gap-16);
      margin-right: 140px;

      img:first-child {
        height: 70px;
      }

      img:last-child {
        height: 24px;
      }
    }

    app-search-bar {
      flex: 1;
      max-width: 975px;
    }
  }

  .profile {
    color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-20);

    p {
      font-size: var(--fontsize-32);
      font-weight: 700;
      cursor: pointer;
      text-wrap: nowrap;
    }

    .image-with-badge {
      cursor: pointer;
      position: relative;
      img {
        height: 70px;
        width: 70px;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
      }

      .badge {
        height: 24%;
        width: 24%;
        border-radius: 50%;
        border: 1px solid var(--text-color);
        background-color: var(--online-color);
        position: absolute;
        bottom: 10%;
        right: 0;
      }
    }

    mat-icon {
      cursor: pointer;
    }
  }
}
