::ng-deep {
  :root {
    --currentBorderRadius: 30px 30px 30px 30px;
  }

  .mat-mdc-menu-panel {
    max-width: none;
    border-radius: var(--currentBorderRadius);
  }
}

app-private-chat-header {
  width: 100%;
  height: 10svh !important;
  display: flex;
}

app-private-chat-placeholder,
.loader {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
}

app-message-area-new-message {
  width: 100%;
  display: flex;
}

@keyframes rotateSmile {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  flex-direction: column;
  font-size: 20px;
  color: black;
  gap: 16px;

  .smiley {
    font-size: 3rem;
    animation: rotateSmile 3s linear infinite;
  }
}

@media only screen and (max-width: 600px) {
  app-private-chat-placeholder {
    max-width: 98vw;
  }
}

:host {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.mat-card-container {
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  border-radius: 30px;
  box-shadow: 0px 2px 2px 0px #00000014;

  @media only screen and (max-width: 600px) {
    border-radius: 0;
  }
}

mat-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mat-mdc-card-content {
  padding: 0;

  &:first-child,
  &:last-child {
    padding: 0;
  }
}

mat-sidenav-container {
  right: auto;
  left: 0px;
  width: 100%;
  background-color: transparent;
}

mat-sidenav {
  width: 400px;
  border-radius: 30px !important;
  background-color: var(--text-color);
  box-shadow: unset !important;

  @media screen and (max-width: 1250px) {
    box-shadow: -10px 0px 20px 0px var(--light-purple-color) !important;
  }

  @media only screen and (max-width: 600px) {
    border-radius: 0 !important;
    width: 100%;
  }
}

mat-sidenav-content {
  height: 100%;
  box-shadow: unset !important;
  border-radius: 30px;

  @media only screen and (max-width: 600px) {
    border-radius: 0;
  }
}
