::ng-deep {
  // :root {
  //   --currentBorderRadius: 0px 30px 30px 30px;
  // }

  .mat-mdc-menu-panel {
    max-width: none;
    border-radius: var(--currentBorderRadius);
  }
}

:host {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

section {
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}

app-private-chat-header {
  width: 100%;
  height: 10svh !important;
  display: flex;
}

app-private-chat-placeholder {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
}

app-message-area-new-message {
  width: 100%;
  display: flex;
}

.mat-card-container {
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  border-radius: 30px;
  box-shadow: none !important;

  @media only screen and (max-width: 600px) {
    border-radius: 0;
  }
}

mat-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mat-mdc-card-content {
  padding: 0 !important;
}

@media only screen and (max-width: 600px) {
  app-private-chat-placeholder {
    max-width: 98vw;
  }
}
