<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav-content
    [ngClass]="{
      'padding-right-20': threadOpened === true,
      'padding-left-20': sideNavOpened === true
    }"
  >
    <mat-card appearance="outlined" class="mat-card-container">
      <mat-card-content>
        <app-private-chat-header></app-private-chat-header>
        <ng-container *ngIf="privateChat$ | async as privateChat">
          <div class="loader" *ngIf="loading">
            <div class="smiley">🔄</div>
            <p>Lade PrivateChat</p>
          </div>
          <app-private-chat-placeholder
            *ngIf="!hasMessages && !loading"
          ></app-private-chat-placeholder>
          <app-private-chat-history
            *ngIf="hasMessages && !loading"
            [messages]="privateChat.messages"
          ></app-private-chat-history>
        </ng-container>
        <app-message-area-new-message></app-message-area-new-message>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
  <mat-sidenav
    #sidenavPrivateChat
    [mode]="drawerMode"
    [(opened)]="opened"
    position="end"
  >
    <app-thread-private-chat
      [currentUserId]="currentUserId"
    ></app-thread-private-chat>
  </mat-sidenav>
</mat-sidenav-container>
