<div mat-form-field class="search-field">
  <input
    matInput
    [formControl]="inputControl"
    [matAutocomplete]="auto"
    placeholder="{{ placeholder }}"
    [ngClass]="{
      'input-font-16': !inputFont,
      'input-font-24': inputFont
    }"
  />
  <mat-icon *ngIf="searchIconExists">search</mat-icon>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onOptionSelected($event.option)"
  >
    <mat-option
      *ngFor="let option of filteredOptions | async"
      [value]="getOptionName(option)"
      [id]="getOptionId(option)"
    >
      {{ getOptionName(option) }}
    </mat-option>
  </mat-autocomplete>
</div>
