<div class="content">
  <mat-card>
    <div class="headline">
      <mat-icon class="back-icon" (click)="navigateToLogin()"
        >arrow_back</mat-icon
      >

      <h1>Impressum</h1>
    </div>

    <p>
      Mr. Mustermann<br />
      Test Stra&szlig;e, 123<br />
      12345 Musterort
    </p>

    <section>
      <h2>Kontakt</h2>
      <p>
        <b>Telefon:</b> +49 (0) 123 44 55 66<br />
        <b>Telefax:</b> nicht vorhanden.<br />
        <b>E-Mail:</b> email.adresse&#64;mail.de
      </p>
    </section>
  </mat-card>
</div>
