<mat-card class="profile-info-dialog" appearance="outlined">
  <div class="card-header">
    <h3>Profil</h3>
    <mat-icon (click)="closeDialog()">close</mat-icon>
  </div>
  <img class="profile-image" src="{{ userData.photoURL }}" alt="" />
  <div class="profile-info-name">
    <div class="name-edit">
      <h2>{{ userData.displayName }}</h2>
      <span [ngStyle]="{ display: ownProfile ? 'block' : 'none' }"
        >Bearbeiten</span
      >
    </div>
    <div class="activity-indicator">
      <div class="badge"></div>
      <span>Aktiv</span>
    </div>
  </div>
  <div class="profile-mail-info">
    <mat-icon>mail_outline</mat-icon>
    <div class="mail-info-wrapper">
      <span>E-Mail-Adresse</span>
      <a href="mailto:{{ userData.email }}">{{ userData.email }}</a>
    </div>
  </div>
  <div
    class="button-wrapper"
    [ngStyle]="{ display: !ownProfile ? 'flex' : 'none' }"
  >
    <button
      class="button-primary"
      (click)="
        openChatWithUser(userData, userService.userId + '_' + userData.uid)
      "
    >
      Private Nachricht
    </button>
  </div>
</mat-card>
