<mat-card class="profile-info-dialog" appearance="outlined">
  <div class="card-header">
    <h3>Profil</h3>
    <mat-icon class="icon" (click)="closeDialog()">close</mat-icon>
  </div>
  <img class="profile-image" src="{{ userData.photoURL }}" alt="" />
  <div class="profile-info-name">
    <div class="name-edit">
      <h2 matTooltip="{{ userData.displayName }}">
        {{ userData.displayName }}
      </h2>
      <span
        class="edit-button"
        [ngStyle]="{ display: ownProfile ? 'block' : 'none' }"
        (click)="openEditProfile()"
        >Bearbeiten</span
      >
      <mat-icon
        class="material-symbols-outlined edit-mobile icon"
        (click)="openEditProfile()"
        [ngStyle]="{ display: ownProfile ? 'flex' : 'none' }"
        >edit</mat-icon
      >
    </div>
    <ng-container *ngIf="ownProfile; else notOwnProfile">
      <div class="activity-indicator online">
        <div class="badge"></div>
        <span>Aktiv</span>
      </div>
    </ng-container>

    <ng-template #notOwnProfile>
      <div
        class="activity-indicator"
        [ngClass]="{
          online: userService.checkUserOnlineStatus(userData.uid),
          offline: !userService.checkUserOnlineStatus(userData.uid)
        }"
      >
        <div class="badge"></div>
        <span>{{
          userService.checkUserOnlineStatus(userData.uid) ? "Aktiv" : "Inaktiv"
        }}</span>
      </div>
    </ng-template>
  </div>
  <div class="profile-mail-info">
    <mat-icon>mail_outline</mat-icon>
    <div class="mail-info-wrapper">
      <span>E-Mail-Adresse</span>
      <a href="mailto:{{ userData.email }}">{{ userData.email }}</a>
    </div>
  </div>
  <div
    class="button-wrapper"
    [ngStyle]="{ display: !ownProfile ? 'flex' : 'none' }"
  >
    <button
      class="button-primary"
      (click)="
        openChatWithUser(userData, userService.userId + '_' + userData.uid)
      "
    >
      Private Nachricht
    </button>
  </div>
</mat-card>
