<mat-card class="profile-info-dialog" appearance="outlined">
  <div class="card-header">
    <h3>Profil</h3>
    <mat-icon>close</mat-icon>
  </div>
  <img
    class="profile-image"
    src="./../../../assets/img/profile/frederik.webp"
    alt=""
  />
  <div class="profile-info-name">
    <div class="name-edit">
      <h2>Frederik Beck</h2>
      <span>Bearbeiten</span>
    </div>
    <div class="activity-indicator">
      <div class="badge"></div>
      <span>Aktiv</span>
    </div>
  </div>
  <div class="profile-mail-info">
    <mat-icon>mail_outline</mat-icon>
    <div class="mail-info-wrapper">
      <span>E-Mail-Adresse</span>
      <a href="mailto:fred.beck&#64;email.com">fred.beck&#64;email.com</a>
    </div>
  </div>
</mat-card>
