.sidenav-toolbar {
  background-color: white;
  height: unset !important;
  box-shadow: none !important;
  display: flex;
  justify-content: space-between;

  button {
    padding: unset !important;
  }

  .toolbar-header {
    display: flex;
    align-items: center;
    gap: var(--gap-16);
    span {
      font-size: var(--fontsize-24);
      font-weight: 700;
      color: black;
    }
  }
}

.toolbar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black !important;

  &:hover {
    color: var(--purple3-color) !important;
    background-color: var(--light-purple-color2) !important;
  }

  &:active {
    background-color: var(--light-purple-color) !important;
  }
}
.toolbars {
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  button {
    padding: unset !important;
  }

  .toolbar-content-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;

    .mat-expansion-panel-header {
      padding: 0;
      padding-left: 24px;
    }

    .expansion-panel-title {
      font-size: var(--fontsize-20);
      font-weight: 700;
      display: flex;
      justify-content: space-between;

      .title-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
        &:hover {
          color: var(--purple1-color);
        }
      }
      .material-symbols-outlined {
        font-weight: 600;
      }
    }

    .mat-expansion-panel:not([class*="mat-elevation-z"]) {
      box-shadow: none !important;
    }

    .mat-expansion-panel:not(.mat-expanded)
      .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
      background: none;
    }

    .button-secondary {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--black-color) !important;
      border: none;
      box-shadow: none !important;
      outline: none;
      font-size: 18px;
      font-weight: 400 !important;
      padding: 4px 20px !important;
      margin-bottom: 8px;
      gap: 10px;

      &:hover {
        color: var(--purple1-color) !important;
        background-color: var(--bg-color) !important;
        font-weight: 700 !important;
        cursor: pointer;
        p {
          cursor: pointer;
        }
      }

      &:hover .material-symbols-outlined {
        font-weight: 700 !important;
      }

      .material-symbols-outlined {
        font-size: 26px;
      }
    }

    .footer-button {
      margin-top: 8px;
      &:hover {
        background-color: white !important;
      }
    }
  }
}
.image-with-badge {
  cursor: pointer;
  position: relative;
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .badge {
    height: 28%;
    width: 28%;
    border-radius: 50%;
    border: 3px solid var(--text-color);
    background-color: var(--grey-color);
    position: absolute;
    bottom: 8%;
    right: 0;
  }

  .badge.online {
    background-color: var(--online-color);
  }
}

.mdc-icon-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  background-color: white !important;
  margin-bottom: 16px !important;
}
