.sidenav-toolbar {
  background-color: white;
  height: unset !important;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;

  button {
    padding: unset !important;
  }

  .toolbar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .toolbar-logo {
      display: flex;
      align-items: center;
      gap: var(--gap-16);
      span {
        font-size: var(--fontsize-24);
        font-weight: 700;
        color: black;
      }
    }
  }

  .edit {
    @media only screen and (max-width: 600px) {
      display: none !important;
    }
  }

  app-search-bar {
    margin-top: 25px;
    width: 100%;

    @media only screen and (min-width: 600px) {
      display: none;
    }
  }

  .search-field[_ngcontent-ng-c3363134768] input[_ngcontent-ng-c3363134768] {
    width: 100%;
    padding: 8px 24px;
  }
}

.toolbar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  mat-icon,
  .add-icon {
    color: black !important;
  }

  &:hover {
    color: var(--purple3-color) !important;
    background-color: var(--light-purple-color2) !important;
  }

  &:hover mat-icon,
  &:hover .add-icon {
    color: var(--purple3-color) !important;
  }

  &:active {
    background-color: var(--light-purple-color) !important;
  }
}

.toolbars {
  height: 88%;

  @media only screen and (max-width: 998px) {
    height: 85%;
  }

  @media only screen and (max-height: 800px) {
    height: 80%;
  }

  @media only screen and (max-height: 640px) {
    height: 70%;
  }

  overflow-y: auto;
  overflow-x: hidden;
  button {
    padding: unset !important;
  }

  .toolbar-content-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;

    .mat-expansion-panel-header {
      padding: 0;
      padding-left: 24px;
    }

    .expansion-panel-title {
      font-size: var(--fontsize-20);
      font-weight: 700;
      display: flex;
      justify-content: space-between;

      .title-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;

        mat-icon {
          color: black !important;
        }

        &:hover {
          color: var(--purple1-color);
        }

        &:hover mat-icon {
          color: var(--purple1-color) !important;
        }
      }
      .material-symbols-outlined {
        font-weight: 600;
      }
    }

    .mat-expansion-panel:not([class*="mat-elevation-z"]) {
      box-shadow: none !important;
    }

    .mat-expansion-panel:not(.mat-expanded)
      .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
      background: none;
    }

    .button-secondary {
      width: fit-content !important;
      height: fit-content !important;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: var(--black-color) !important;
      border: none;
      box-shadow: none !important;
      outline: none;
      font-size: 18px;
      font-weight: 400 !important;
      padding: 4px 20px !important;
      margin-bottom: 8px;
      gap: 10px;

      mat-icon {
        color: black !important;
      }

      &:hover {
        color: var(--purple1-color) !important;
        background-color: var(--bg-color) !important;
        font-weight: 700 !important;
        cursor: pointer;
        p {
          cursor: pointer;
        }
      }

      &:hover mat-icon {
        color: var(--purple1-color) !important;
      }

      &:hover .material-symbols-outlined {
        font-weight: 700 !important;
      }

      .material-symbols-outlined {
        font-size: 26px;
      }
    }

    .name {
      max-width: 190px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .active {
      color: var(--purple1-color) !important;
      background-color: var(--bg-color) !important;
      font-weight: 700 !important;
      cursor: pointer;
      p {
        cursor: pointer;
      }

      mat-icon {
        color: var(--purple1-color) !important;
      }
    }

    .footer-button {
      margin-top: 8px;
      &:hover {
        background-color: white !important;
      }
    }
  }
}
.image-with-badge {
  cursor: pointer;
  position: relative;
  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
  }

  .badge {
    height: 28%;
    width: 28%;
    border-radius: 50%;
    border: 3px solid var(--text-color);
    background-color: var(--grey-color);
    position: absolute;
    bottom: 2%;
    right: -2%;
  }

  .badge.online {
    background-color: var(--online-color);
  }
}

.mdc-icon-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  background-color: white !important;
  margin-bottom: 16px !important;
}

.main-page-button {
  left: 80%;
  bottom: 6vh;

  @media only screen and (min-width: 600px) {
    display: none !important;
  }
}

.button-wrapper {
  .main-page-button {
    width: 60px !important;
    height: 60px !important;
    padding: unset !important;
    color: white !important;
  }
}
