<mat-toolbar class="sidenav-toolbar">
  <div class="toolbar-header">
    <img src="./assets/img/Workspace logo.png" alt="" />
    <span>Devspace</span>
  </div>
  <button mat-icon-button class="toolbar-icon" routerLink=".">
    <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
  </button>
</mat-toolbar>

<div class="toolbars">
  <div class="toolbar-content-wrapper chanels">
    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
      togglePosition="before"
      [expanded]="true"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="expansion-panel-title">
          <div class="title-wrapper">
            <mat-icon class="material-symbols-outlined">workspaces</mat-icon>
            Channels
          </div>
          <button
            mat-icon-button
            class="toolbar-icon"
            clickStopPropagation
            (click)="openCreateChannelDialog()"
          >
            <mat-icon class="material-symbols-outlined">add</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <button
        *ngFor="let channel of allChannelsData | keyvalue"
        class="button-secondary"
        routerLink="channel/{{ channel.value.channelId }}"
        routerLinkActive="active"
        (click)="
          activeButtonService.setActiveButton('');
          channelService.setChannel(channel.value.channelId)
        "
      >
        <mat-icon class="material-symbols-outlined">tag</mat-icon
        >{{ channel.value.channelName }}
      </button>
      <button
        class="button-secondary footer-button"
        (click)="openCreateChannelDialog()"
      >
        <mat-icon class="material-symbols-outlined">add_circle</mat-icon>Channel
        hinzufügen
      </button>
    </mat-expansion-panel>
  </div>

  <div class="toolbar-content-wrapper messages">
    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
      togglePosition="before"
      [expanded]="true"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="expansion-panel-title">
          <div class="title-wrapper">
            <mat-icon class="material-symbols-outlined"
              >account_circle</mat-icon
            >
            Direktnachrichten
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button
        class="button-secondary"
        (click)="openChatWithUser(userData, userData.uid + '_' + userData.uid)"
        [ngClass]="{
          active: isActiveButton(userData.uid + '_' + userData.uid)
        }"
      >
        <div class="image-with-badge">
          <img src="{{ userData.photoURL }}" alt="" />
          <div class="badge" style="background-color: #92c83e"></div>
        </div>
        <p class="name">{{ userData.displayName }} (Du)</p>
      </button>

      @for (user of allUserData; track $index) {
      <button
        *ngIf="user.uid != userData.uid"
        class="button-secondary"
        (click)="openChatWithUser(user, userData.uid + '_' + user.uid)"
        [ngClass]="{ active: isActiveButton(userData.uid + '_' + user.uid) }"
      >
        <div class="image-with-badge">
          <img src="{{ user.photoURL }}" alt="" />
          <div
            class="badge"
            [class.online]="userService.checkUserOnlineStatus(user.uid)"
          ></div>
        </div>
        <p class="name">{{ user.displayName }}</p>
      </button>
      }
    </mat-expansion-panel>
  </div>
</div>
