::ng-deep {
  .mat-mdc-menu-panel {
    max-width: none;
    border-radius: var(--border-radius);
  }

  @media (max-width: 350px) {
    .mat-mdc-menu-panel {
      width: 100% !important;
    }

    .emoji-mart { 
      width: 100% !important;
    }
  }
}
