@media only screen and (max-width: 1350px) {
    .message {
        max-width: 48vw;
    }         
 }
 
 @media only screen and (max-width: 950px) {
    .message {
        max-width: 43vw;
    }
 }
 
 @media only screen and (max-width: 850px) {
    .message {
        max-width: 38vw;
    }
 }