::ng-deep {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px;

    @media (max-width: 599px) {
      border-radius: 0;
    }
  }

  .cdk-global-scrollblock {
    overflow-y: unset !important;
  }

  @media (max-width: 599px) {
    .cdk-overlay-pane.mat-mdc-dialog-panel {
      max-width: 100% !important;
      height: 100% !important;
      margin-top: 2px;
    }
  }
}

.dialog-wrapper {
  color: var(--black-color) !important;
  padding: 45px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 872px;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .toolbar-icon {
      padding: 16px !important;
      border-radius: 50%;
    }

    mat-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }
  h4 {
    color: var(--black-color);
    span {
      color: var(--grey-color);
    }
  }

  .form-field {
    color: var(--grey-color);
    position: relative;
    display: flex;
    align-items: center;

    gap: 16px;
    flex: 1;

    mat-icon {
      position: absolute;
      left: var(--padding-32);
    }
    input {
      width: 100%;
      font-size: 18px;
      font-family: var(--font-nunito);
      padding: var(--padding-16) var(--padding-16) var(--padding-16) 65px;
      border-radius: 42px;
      border: 1px solid var(--light-purple-color);
      &:hover {
        outline: 1px solid var(--purple2-color);
      }
      &:focus-visible {
        outline: 1px solid var(--purple1-color);
      }
    }
  }
  .description {
    input {
      padding: var(--padding-16) !important;

      @media screen and (max-width: 450px) {
        padding: 12px !important;
      }
    }
  }

  .button-primary {
    align-self: flex-end;
    width: fit-content !important;

    &:disabled {
      cursor: not-allowed !important;
    }
  }
}
