/* Media Queries */
/*  */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .headline {
    h1 {
      font-size: var(--fontsize-24) !important;
    }
  }

  h2 {
    font-size: var(--fontsize-20) !important;
  }

  h3 {
    font-size: 18px !important;
  }
}

/* Very small devices (landscape tablets, 450px and down) */
@media only screen and (max-width: 450px) {
  .headline {
    flex-direction: column;
    gap: unset !important;

    mat-icon {
      justify-content: start !important;
      width: 100%;
    }

    h1 {
      font-size: var(--fontsize-24) !important;
    }
  }
}

/* smallest devices (300px and down) */
@media only screen and (max-width: 300px) {
}
